/*	the style for man.html
*	author: sunny;
*	date: 24/5/2013;
*	weather: hotest;
**********************************************************/
/*全局css*/
* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../images/body-bkg.png);
	font-family: "宋体" serif;

}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
}
.clearfix:after {
	content: ",";
	display: block;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}

/*简历头部*/
#header {
	width: 100%;
	
	box-shadow: 0 5px 10px rgb(121, 112, 112);
	background: -webkit-gradient(linear,left top,left bottom,from(#a0d8ef),to(#2ca9e1));
	background: -moz-linear-gradient(left,#a0d8ef,#2ca9e1) ;
	background: -ms-linear-gradient(left,#a0d8ef,#2ca9e1) ;
	background: -o-linear-gradient(left,#a0d8ef,#2ca9e1) ;
	background: linear-gradient(left,#a0d8ef,#2ca9e1) ;
	position: relative;
	 		
	
}
#header img {
	position: absolute;
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	z-index: 9999;
	-webkit-transition:all 0.5s;
}
#motto {
	font-size: 66px;
	color: #fff;
	position: absolute;
	text-align: right;
}
#motto p {
	text-shadow:1px 1px 2px #262725;
}
#motto small {
	font-size: 26px;
	position: absolute;
	right: 0;
}	
#motto span {
	font-size: 100px;
}

/*简历内容*/	
#content {	
	margin: 0 auto;
	position: relative;
}
#intro {
	margin-top: 8px;
	background: url(../images/body-bkg.png);
	

}

.left-side {
	float: left;
	width: 48%;
	height: 100%;
	border-right: 10px solid #ccc;
	padding-right: 10px;
}

.right-side {
	float: right;
	width: 48%;
	height: 100%;

	
}
.yhead {
	font-size: 56px;
	padding-right: 50px;
	margin-top: 30px;
	text-shadow: 1px 1px 2px #000;
}
.block {
	background: #464646;
	opacity: 0.8;
	font-size: 26px;
	max-width: 300px;
	text-shadow: 1px 1px 2px #646464;
	color: #fff;
	padding: 20px 10px;
	border: 5px solid #000;
	margin: 100px 0 100px -6666px;
	
}
.right {
	float: right;
}
